.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-top: 1rem;
}

.buttons button:not(:last-child) {
  margin-right: 1rem;
}
